# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Flask stuff:
instance/
.webassets-cache

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version


# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# ignoring storage folders and config files
.idea

storage
storage/mute_files
storage/time_files
storage/cookie
storage/tempText

links
configs
config.json
reddit_details.json
spotify_details.json
.replit
.cache
